textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
}

textarea::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.1);
}
